pre {
  font-size: 13px;
  padding: 4px;
}

.numbers {
  color: blue;
}

.code {
  width: 627px;
  overflow: auto;
}

p {
  width: 600px;
}

.view_files {
  width: 350px;
}

th {
  text-align: left;
}